body {
    display: flex;
    flex-direction: column;
    margin: 0px;
    font-family: 'Roboto';
}

.header {
    display: flex;
    align-items: center;
    padding: 0px;
    flex: auto;
    justify-content: space-between;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
}

a {
    text-decoration: none;
}

.links {
    list-style: none;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.intro {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: auto;
    gap: 2em;
    padding: 2em 0;
}

.title-text {
    display: flex;
    flex-direction: column;
}

.hero {
    font-size: 49px;
    font-weight:bolder;
    color: #f9faf8;
}

p {
    font-size: 18px;
    color: #f9faf8;
}

button {
    background-color: #3882f6;
    border: 0;
    border-radius: 5px;
    padding: 7px;
    width: 100px;
    color: #f9faf8;
    font-weight: bold;
}

.dark {
    background-color: #1f2937;
    padding: 1em 13em;
}

h1 {
    font-size: 36px;
    font-weight: 900;
    color: #1f2937;
    text-align: center;
    margin-bottom: 0;
}

.random-boys {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2em;
    padding: 50px 0;
}

.example {
    max-width: 300px;
}

img {
    border-radius: 10px;
}

.cat {
    height: 200px;
    width: 200px;
    border: 5px solid #3882f6;
}

.text {
    text-align: center;
    color: #1f2937;
    font-size: 22px;
    font-weight: 600;
}

.qoute {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    background-color: #e5e7eb;
    padding: 4em 13em;
}

.qoute-text {
    font-size: 36px;
    font-style: italic;
    color: #1f2937;
}

.signed {
    font-weight: bold;
    color: #1f2937;
    font-size: 30px;
    align-self: flex-end;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    padding: 1em;
    color: #f9faf8;
    font-weight: 500;
}